@import 'src/styles/_variables';
@mixin card-container($width) {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 16rem);
  width: auto;
  .form-input {
    width: 100%;
    font-size: 1rem;
  }
  mat-icon {
    color: $sdt-gray;
  }
  .card {
    flex-basis: $width;
  }
}

@mixin card-action($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

.login-container {
  @include card-container(24rem);
  .login-action {
    @include card-action(center, space-between);
    a:hover {
      text-decoration: underline;
    }
  }
}
