@import 'src/styles/_variables';

img {
  width: 90px;
  height: 90px;
  border-radius: 15%;
  padding-top: 10px;
}

button {
  height: 35px;
}

.inline-edit {
  width: fit-content !important;
  height: 92%;
  padding: 5px 5px 0px 5px;
}

mat-cell:hover i {
  cursor: pointer;
  display: flex;
}

mat-cell i {
  display: none;
  padding-left: 5px;
}

.inline-edit {
  width: 100% !important;
  height: 92%;
  padding: 5px 5px 0px 5px;
}
