
//Global styling Variables
$sdt-primary: #74AD00;
$sdt-secondary: #51b0de;
$sdt-gray: #404040;
$sdt-bg: #f5f4f4;
$sdt-footer-color: #6b6b6b;
$divider-color: rgba(0, 0, 0, .12);
$table-row: #EEEEEE;
$table-row-selected: #F5F5F5;
$sdt-success: #82BC00;
$sdt-error: #EB0029;
$sdt-warning: #FFA400;
$sdt-darkgreen:#1A6500;
$sdt-hovergreen:#F1F6E5;
$sdt-black:black;

