
// Global Styles
@import '_variables';

// Set basic and general styling for application
body {
  background-color: $sdt-bg;
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}


// Force button text to uppercase to comply with Material Design guidelines
button[mat-button],
button[mat-raised-button],
a[mat-button],
a[mat-raised-button],
.mat-tab-label {
  text-transform: uppercase;
  font-weight: bold;
}

button[mat-raised-button] {
  background: $sdt-darkgreen;
  color: white;
}

button[mat-raised-button]:hover {
  background: $sdt-hovergreen;
}


// mat table css override
.mat-table {
  overflow: auto; 
    max-height: calc(100vh - 20rem); 
   .mat-header-cell {
    color: #000000;
    font-size: 14px;
    font-weight: 500; 
  }
   }
  .mat-row {
      &:hover {
      background-color: #f2f2f2;
    }
  }


mat-cell,
mat-header-cell {
  overflow: visible;
}

.tool-bar-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
